.Categories{
    display:flex;
    justify-content: space-evenly;
    background-color:greenyellow;
    padding: 10px;

}

h3{
    margin:0px;
    padding:20px;
    color: mediumslateblue;
}

.NavBar{
    margin:0px;
    background-color: lightgreen;
}

a{
    text-decoration: none;
    color: mediumslateblue;
}

a:hover{
    color: lightcoral;
    cursor:pointer;
}

.Option{
    font-style: none;

}

.Cart{
    padding: 15px;
}
